body{
  margin: 0;
  text-align:center;
  font-family: 'Merriweather', serif;
}
.code{
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 25px;
margin-bottom: 15px;
}
.dp{
  height: 200px;
  width: 200px;
}
.graphic{
  height: 200px;
  width: 200px;
  float: right;
  margin-left: 25px;
}
hr{

  width: 5%;
  margin: 0 auto;
  border-style: dotted none none;
  height: 0;
  border-width: 3px;
  color: grey;
}

h1{
  font-size: 5.25rem;
  margin: 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}
.fsdev{
  margin-top: 0;
  color: #66BFBF;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 1;
}
h2{
  font-size: 2.5rem;
    color: #66BFBF;
}
h3{
  font-size: 1.5625rem;
    color: #11999E;
}
a{
    color: #11999E;
}
p{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.top{
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

  .boldp{
    width: 400px;
    color: #40514E;
    font-weight: bold;
    font-size: 1.75rem;
    margin: auto;
  }
  .skillpara{
    color: #40514E;
    font-weight: bold;
    font-size: 1.75rem;
  }
  .profile{
    margin-top: 100px;
  }
  .midhr{
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .endhr{
    margin-top: 10px;
    margin-bottom: 10px;
  }
 .bottom{
   background-color: #43d8c9;
   height: 180px;
 }
  .topcloud{
    position: absolute;
    top: 50px;
    right: 270px;
  }
  .bottomcloud{
    position: absolute;
    top: 330px;
    left: 280px;
  }
  .tweet
  {
    position: relative;
    top: 15px;
    display: inline-block;
    height:30px;
    width: 30px;
    margin-left: 15px;

  }
  .linkin{
    position: relative;
    top: 15px;
    display: inline-block;
      height:30px;
      width: 30px;

  }
  .fb{
    position: relative;
    top: 15px;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: 20px;
  }
  .endp
  {
    font-size: 1.25rem;
    color: #EAF6F6;
  }
  .skp{
    margin-top: 45px;
  }
  .contact{
    height: 40px;
    width: 250px;
    margin:60px auto 100px auto;
    background-color: #11999E;
    border-radius: 10px;

  }
  .btn{
    font-size: 1.65rem;
    font-weight: bold;
    color: white;
    margin:auto;
  font-family: 'Merriweather', serif;
  position: relative;
  top: 5px;
  }
  .contact:hover{
    background-color: #7ebdb4;
    text-decoration: none;
  }
